/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "../node_modules/font-awesome/css/font-awesome.css";

html,
body,
app-root {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
}

.template {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding-bottom: 60px;
  overflow-y: scroll;
}

.qrc {
  width: 100%;
  height: auto;
  min-width: 200px;
  max-width: 350px;
}
